.App {
  text-align: center;
  background-color: rgb(201, 201, 201);
  font-family: "Courier New", Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#suroimg {
  width: 75%;
  height: 80%;
}
#crimereporterimg {
  width: 75%;
  height: 80%;
}
.about {
  border: 5px solid black;
}
#myself {
  height: 275px;
  width: 200px;
  flex-wrap: wrap;
  justify-content: left;
  display: inline-block;
}
.card {
  width: 45%;
  height: 350px;
  display: inline-block;
  margin: auto 20px;
  border: 4px solid #282c34;
  color: aliceblue;
}
.sites {
  font-size: 34px;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
.projecttitle {
  color: aliceblue;
}
#suroinfo {
  margin-top: 70px;
  color: rgb(53, 2, 53);
}
#linkcards {
  height: auto;
}
#summary {
  justify-content: right;
  display: inline-block;
}
#crimereporterinfo {
  margin-top: 10px;
  color: rgb(87, 14, 87);
}
